*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
log/
tmp

# guard files
.sass-cache/*

# YARD artifacts
.yardoc
_yardoc
doc/

# environment variables

moves-secret.rb