#nav-wrapper {
  background-color: $red;
  width: 100%;
}

.nav {
  @include outer-container;

  ul {
    list-style: none;
    text-align: center;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: .4em;
    color: $darkBlue;
    font-family: $sans-serif-font;
    font-weight: 300;
    font-size: 2em;
  }

  a {
    color: $darkBlue;
    font-family: $sans-serif-font;
    font-weight: 300;
    text-transform: uppercase;
    display: block;

    &:hover {
      color: $blue;
    }
  }
}