@import "neat/neat";


$grid-columns: 12;

// Default styles for the site:

html {
  height: 100%;
}

body {
  color: $gray-dark;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  text-transform: uppercase;
}

h1 { font-size: 3em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }

p {
  line-height: 1.3em;
}

a,
a:active,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: darken($green, 25%);
}

// Reusable classes

// .accent {
//   color: $blue;
//   font-family: $header-font-family;
// }

// .tablet {
//   display: none;

//   @include media($tablet) {
//     display: inline;
//   }

//   @include media($tablet-wide) {
//     display: inline;
//   }
// }

// .quasi-button,
// .quasi-button:link,
// .quasi-button:active,
// .quasi-button:visited,
// .quasi-button:hover {
//   border: 1px solid rgba($green, .3);
//   border-radius: 2px;
//   color: darken($green, 20%);
//   // display: inline-block;
//   font-size: 1rem;
//   margin: 1rem 0;
//   padding: 0 .3rem;

//   &:hover {
//     border: 1px solid $green;
//   }

//   @include media($tablet) {
//     font-size: 1.5rem;
//   }
// }

// .mobile-only {
//   display: inline;

//   @include media($tablet) {
//     display: none;
//   }
// }

// Body styles
