<%# erb :'utilities/nav' %>

<section id="greeting">

  <h1>Hello</h1>
  <h3>I'm Winston.</h3>

  <div class="copy">

    <p>I'm a Front End Developer, comfortable with working in a wide range of codebases using new and old tools.</p>
    <!-- <span class="display: none;">For specific experience, you can see my
      <a href="http://winstonhearn.com/resume" target="_blank">resume</a>.</span> -->

    <p>Recently, I helped build the <a href="http://press.fiftythree.com" target="_blank">FiftyThree Press Page</a>, worked as a QA engineer for <a href="http://editorially.com" target="_blank">Editorially</a> (RIP), and helped launch the fully-responsive, user-friendly 2.0 update to <a href="http://foxycart.com" target="_blank">FoxyCart</a>, all while traveling the country with my wife and son. We now reside in Chattanooga.</p>

    <p>I have production experience with Ember.js, Angular.js, test-driven JS development, Responsive Web Design, front-end performance, porting large CSS codebases to SASS, and improving the UX flow of forms and web apps. I love working on small, diverse teams to build software that delights users and, ideally, improves their life. My current topics of research and improvement are web accessibility, front-end performance, and <a href="http://winstonhearn.com/gmaps-to-geojson/" target="_blank">working with geolocation data.</a></p>

    <p>I'm currently looking for contract or full-time work that matches up with some or all of these interests. Please email or reach out <a href="http://twitter.com/suchwinston" target="_blank">on Twitter</a> if you're hiring!</p>

    <p class="third"><a href="mailto:hello@wnstn.com">Email</a></p>
    <p class="third"><a href="http://winstonhearn.com" target="_blank">Personal Site</a></p>
    <p class="third"><a href="https://github.com/wnstn" target="_blank">Github Profile</a></p>
  </div>

</section>

<!-- <section id="main-portfolio"> -->

  <%# erb :'projects/editorially' %>
  <%# erb :'projects/foxycart' %>
  <%# erb :'projects/splitsecnd' %>
  <%# erb :'projects/numbergarage' %>
  <%# erb :'projects/reaction' %>
  <%# erb :'projects/centresource' %>
  <%# erb :'projects/ouradventure' %>

<!-- </section> -->
