
<div id="code" class="circle">
  <h3 class="title">Front-end<br/>Developer</h3>
</div>

<div id="designer" class="circle">
  <h3 class="title">Motion Graphics<br/>Designer</h3>
</div>

<div class="divider"></div>

<div id="name">
  <h2 class="first">Winston</h2>
  <h2 class="last">Hearn</h2>
</div>

<div id="bars2"></div>