<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie10 lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie10 lt-ie9 no-js"> <![endif]-->
<!--[if IE 9]>    <html class="lt-ie10 no-js"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<%= erb :'utilities/header' %>
</head>

<body class="home">
  <!-- <div id="bars1">
    <h1 class="name">Winston Hearn</h1>
  </div> -->
  <header id="nav-wrapper">
<!--     <nav class="nav">
      <ul>
        <li><a href="/code"><i class="icon-code"></i>code</a></li>
        <li>+</li>
        <li><a href="/video">video<i class="icon-video"></i></a></li>
      </ul>
    </nav> -->
  </header>

  <section id="content">
    <%= yield %>
  </section>

<%= erb :'utilities/footer' %>
</body>
</html>
