/* BOURBON AND NEAT VARIABLES */
/* Media Queries */
/* TYPOGRAPHY */
/* COLORS */
.hide {
  display: none; }

.unstyled {
  list-style: none;
  padding-left: 0; }
  .unstyled > li {
    margin-left: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: "fanwood", serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-font-smoothing: subpixel-antialiased; }

h1, h2, h3, h4 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

p {
  line-height: 1.3em; }

a,
a:active,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #a93d20; }

.accent {
  color: #a93d20;
  font-family: "brandon-grotesque", sans-serif; }

.tablet {
  display: none; }
  @media screen and (min-width: 481px) {
    .tablet {
      display: inline; } }
  @media screen and (min-width: 800px) {
    .tablet {
      display: inline; } }

.quasi-button,
.quasi-button:link,
.quasi-button:active,
.quasi-button:visited,
.quasi-button:hover {
  border: 1px solid rgba(195, 232, 95, 0.3);
  border-radius: 2px;
  color: #c3e85f;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0 .3rem; }
  .quasi-button:hover,
  .quasi-button:link:hover,
  .quasi-button:active:hover,
  .quasi-button:visited:hover,
  .quasi-button:hover:hover {
    border: 1px solid #c3e85f; }
  @media screen and (min-width: 481px) {
    .quasi-button,
    .quasi-button:link,
    .quasi-button:active,
    .quasi-button:visited,
    .quasi-button:hover {
      font-size: 1.5rem; } }

.mobile-only {
  display: inline; }
  @media screen and (min-width: 481px) {
    .mobile-only {
      display: none; } }

.home {
  background: url(/images/bg.jpg) repeat top left; }

#nav-wrapper {
  background-color: white;
  color: #244c59;
  float: left;
  left: 0;
  top: 0;
  margin: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  box-shadow: 0px -2px 5px white; }
  @media screen and (min-width: 481px) {
    #nav-wrapper {
      padding: .4rem;
      box-shadow: 0px 5px 10px white; } }
  @media screen and (min-width: 800px) {
    #nav-wrapper {
      bottom: 0;
      padding: .8rem;
      padding-top: 5rem;
      width: 25%; } }
  @media screen and (min-width: 1025px) {
    #nav-wrapper {
      padding: 1rem;
      padding-top: 12rem; } }
  #nav-wrapper .greeting {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
    margin-top: .2rem; }
    @media screen and (min-width: 481px) {
      #nav-wrapper .greeting {
        margin-top: .3rem;
        margin-bottom: .5rem; } }
    @media screen and (min-width: 800px) {
      #nav-wrapper .greeting {
        font-size: 2rem;
        margin: 1rem 0; } }
  #nav-wrapper .name {
    color: #2495ba;
    font-size: 2.5rem;
    margin: .2rem 0; }
    @media screen and (min-width: 481px) {
      #nav-wrapper .name {
        margin-bottom: .5rem; } }
    @media screen and (min-width: 800px) {
      #nav-wrapper .name {
        line-height: 2rem; } }
    @media screen and (min-width: 1025px) {
      #nav-wrapper .name {
        font-size: 3.2rem;
        line-height: 2.8rem; } }

#main-portfolio {
  margin-top: 10rem;
  width: 100%; }
  @media screen and (min-width: 481px) {
    #main-portfolio {
      margin-top: 13rem; } }
  #main-portfolio .project {
    border-bottom: 1px dotted #2495ba;
    margin: 0 1.5rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem; }
    #main-portfolio .project:last-child {
      border-bottom: none; }
    @media screen and (min-width: 481px) {
      #main-portfolio .project {
        margin: 0 2rem;
        margin-bottom: 5rem;
        padding-bottom: 3rem; } }
  #main-portfolio .project-title {
    color: #2495ba;
    font-size: 2rem; }
    @media screen and (min-width: 481px) {
      #main-portfolio .project-title {
        font-size: 2.5rem; } }
  #main-portfolio .project-description {
    color: #244c59;
    font-size: 1.1rem; }
    @media screen and (min-width: 481px) {
      #main-portfolio .project-description {
        font-size: 1.4rem; } }
  #main-portfolio .image-wrapper {
    margin-bottom: 1rem;
    max-width: 100%; }
    #main-portfolio .image-wrapper img {
      max-width: 100%;
      box-shadow: 1px 1px 1px rgba(36, 76, 89, 0.3); }
  #main-portfolio .project-link {
    color: #2495ba;
    display: block;
    text-align: center; }
    #main-portfolio .project-link:hover {
      text-decoration: underline; }
