/* BOURBON AND NEAT VARIABLES */
/* Media Queries */
/* TYPOGRAPHY */
/* COLORS */
/* Radii */
.hide {
  display: none; }

.unstyled {
  list-style: none;
  padding-left: 0; }
  .unstyled > li {
    margin-left: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: "fanwood", serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-font-smoothing: subpixel-antialiased; }

h1, h2, h3, h4 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

p {
  line-height: 1.3em; }

a,
a:active,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #86ae19; }

.accent {
  color: #2495ba;
  font-family: "brandon-grotesque", sans-serif; }

.tablet {
  display: none; }
  @media screen and (min-width: 490px) {
    .tablet {
      display: inline; } }
  @media screen and (min-width: 800px) {
    .tablet {
      display: inline; } }

.quasi-button,
.quasi-button:link,
.quasi-button:active,
.quasi-button:visited,
.quasi-button:hover {
  border: 1px solid rgba(195, 232, 95, 0.3);
  border-radius: 2px;
  color: #97c51c;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0 .3rem; }
  .quasi-button:hover,
  .quasi-button:link:hover,
  .quasi-button:active:hover,
  .quasi-button:visited:hover,
  .quasi-button:hover:hover {
    border: 1px solid #c3e85f; }
  @media screen and (min-width: 490px) {
    .quasi-button,
    .quasi-button:link,
    .quasi-button:active,
    .quasi-button:visited,
    .quasi-button:hover {
      font-size: 1.5rem; } }

.mobile-only {
  display: inline; }
  @media screen and (min-width: 490px) {
    .mobile-only {
      display: none; } }

.home {
  background-color: #a3dbed; }

#nav-wrapper {
  background-color: white;
  color: #244c59;
  float: left;
  left: 0;
  top: 0;
  margin: 0;
  position: relative;
  text-align: center;
  width: 100%;
  box-shadow: 0px -2px 5px white; }
  @media screen and (min-width: 490px) {
    #nav-wrapper {
      padding: .4rem;
      top: 0; } }
  @media screen and (min-width: 800px) {
    #nav-wrapper {
      bottom: 0;
      overflow-y: scroll;
      padding: .8rem;
      position: fixed;
      padding-top: 5rem;
      width: 25%;
      box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1); } }
  @media screen and (min-width: 1025px) {
    #nav-wrapper {
      padding: 1rem;
      padding-top: 12rem; } }
  #nav-wrapper .greeting {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
    text-transform: none; }
    @media screen and (min-width: 490px) {
      #nav-wrapper .greeting {
        margin-top: .3rem;
        margin-bottom: .5rem; } }
    @media screen and (min-width: 800px) {
      #nav-wrapper .greeting {
        font-size: 1.8rem;
        margin: 1rem 0; } }
  #nav-wrapper .name {
    color: #2495ba;
    font-size: 2.5rem;
    margin: .2rem 0; }
    @media screen and (min-width: 490px) {
      #nav-wrapper .name {
        margin-bottom: .5rem; } }
    @media screen and (min-width: 800px) {
      #nav-wrapper .name {
        line-height: 2rem; } }
    @media screen and (min-width: 1025px) {
      #nav-wrapper .name {
        font-size: 3.2rem;
        line-height: 2.8rem; } }
  #nav-wrapper .bio {
    font-size: 1.2rem;
    margin: .5em; }
  #nav-wrapper .technologies {
    padding: 0;
    margin: .5em 0; }
    #nav-wrapper .technologies li {
      border: 1px solid rgba(36, 149, 186, 0.3);
      border-radius: 2px;
      color: #2495ba;
      display: inline-block;
      line-height: 1.5em;
      margin-right: .5rem;
      margin-bottom: .3rem;
      padding: 0rem .4rem;
      font-size: 1rem; }

#main-portfolio {
  margin-top: 0;
  width: 100%; }
  @media screen and (min-width: 800px) {
    #main-portfolio {
      width: 75%;
      margin-left: 25%;
      margin-top: 2rem; } }
  #main-portfolio .project {
    border-bottom: 1px dotted #2495ba;
    margin: 0 1.5rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem; }
    #main-portfolio .project:last-child {
      border-bottom: none; }
    #main-portfolio .project:before, #main-portfolio .project:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    #main-portfolio .project:after {
      clear: both; }
    @media screen and (min-width: 490px) {
      #main-portfolio .project {
        margin: 0 2rem;
        margin-bottom: 5rem;
        padding-bottom: 3rem; } }
    @media screen and (min-width: 800px) {
      #main-portfolio .project {
        margin-bottom: 4rem;
        padding-bottom: 2rem; } }
  #main-portfolio .project-title {
    color: #2495ba;
    font-size: 2rem; }
    @media screen and (min-width: 490px) {
      #main-portfolio .project-title {
        font-size: 2.5rem; } }
    @media screen and (min-width: 800px) {
      #main-portfolio .project-title {
        font-size: 3rem; } }
    @media screen and (min-width: 1025px) {
      #main-portfolio .project-title {
        display: block;
        text-align: center;
        width: 100%;
        float: left; } }
  #main-portfolio .project-technologies {
    font-size: 1rem;
    list-style: none;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    *zoom: 1; }
    #main-portfolio .project-technologies:before, #main-portfolio .project-technologies:after {
      content: " ";
      display: table; }
    #main-portfolio .project-technologies:after {
      clear: both; }
    @media screen and (min-width: 1025px) {
      #main-portfolio .project-technologies {
        display: block;
        position: relative;
        text-align: center; } }
    #main-portfolio .project-technologies li {
      border: 1px solid rgba(36, 76, 89, 0.3);
      border-radius: 2px;
      color: #244c59;
      display: inline-block;
      line-height: 1.5em;
      margin-right: .5rem;
      margin-bottom: .3rem;
      padding: 0rem .4rem; }
  #main-portfolio .project-description {
    color: #222222;
    font-size: 1.1rem; }
    @media screen and (min-width: 490px) {
      #main-portfolio .project-description {
        font-size: 1.4rem; } }
    @media screen and (min-width: 1025px) {
      #main-portfolio .project-description {
        display: block;
        float: left;
        margin: 0;
        margin-right: 4%;
        width: 48%; } }
    #main-portfolio .project-description p {
      margin: 0;
      margin-bottom: .5rem; }
  #main-portfolio .image-wrapper {
    margin-bottom: 1rem;
    max-width: 100%; }
    @media screen and (min-width: 1025px) {
      #main-portfolio .image-wrapper {
        float: left;
        margin: 0;
        margin-top: 1rem;
        width: 48%; } }
    #main-portfolio .image-wrapper img {
      max-width: 100%;
      box-shadow: 1px 1px 1px rgba(36, 76, 89, 0.3); }
  #main-portfolio .project-link {
    color: #86ae19;
    display: block;
    text-align: center; }
    #main-portfolio .project-link:hover {
      text-decoration: underline; }
    @media screen and (min-width: 1025px) {
      #main-portfolio .project-link {
        display: block;
        float: left;
        width: 100%; } }
