/* BOURBON AND NEAT VARIABLES */
/* Media Queries */
/* TYPOGRAPHY */
/* COLORS */
.hide {
  display: none; }

.unstyled {
  list-style: none;
  padding-left: 0; }
  .unstyled > li {
    margin-left: 0; }

.icon-code {
  background: url(/images/icon-code.png) no-repeat left top;
  background-size: 100%;
  display: inline-block;
  height: 30px;
  margin: 0 1em;
  width: 30px; }

.icon-video {
  background: url(/images/icon-video.png) no-repeat left top;
  background-size: 100%;
  display: inline-block;
  margin: 0 1em;
  height: 30px;
  width: 30px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333333;
  font-family: "fanwood", serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-font-smoothing: subpixel-antialiased; }

h1, h2, h3, h4 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

p {
  line-height: 1.3em; }

a,
a:active,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #a93d20; }

.home {
  background: url(/images/bg.jpg) repeat top left; }

#bars1 {
  display: inline-block;
  background-color: #2495ba;
  height: 3rem;
  width: 1%;
  left: 0;
  position: relative;
  margin-bottom: 5.5rem;
  top: 1em; }
  #bars1:before {
    content: "";
    display: inline-block;
    background-color: #1c738f;
    height: 3rem;
    top: 0;
    position: relative;
    margin-top: 3rem;
    width: 100%; }
  #bars1:after {
    content: "";
    display: inline-block;
    background-color: #135165;
    height: 3rem;
    margin-top: -.6rem;
    position: relative;
    width: 100%; }
  #bars1 .name {
    color: white;
    font-weight: 300;
    font-size: .1em;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: .6rem;
    right: 0; }

.live #bars1 {
  display: inline-block;
  background-color: #2495ba;
  height: 3rem;
  width: 40%;
  left: 0;
  position: relative;
  margin-bottom: 5.5rem;
  top: 1em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .live #bars1:before {
    content: "";
    display: inline-block;
    background-color: #1c738f;
    height: 3rem;
    top: 0;
    margin-top: 3rem;
    width: 90%;
    -webkit-transition: all 0.2s ease-out 0.2s;
    -moz-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s ease-out 0.2s; }
  .live #bars1:after {
    content: "";
    display: inline-block;
    background-color: #135165;
    height: 3rem;
    margin-top: -.6rem;
    width: 80%;
    -webkit-transition: all 0.2s ease-out 0.2s;
    -moz-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s ease-out 0.2s; }
  .live #bars1 .name {
    color: white;
    font-weight: 300;
    font-size: 3em;
    margin: 0;
    opacity: 1;
    position: absolute;
    top: .6rem;
    left: .6em;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }

#nav-wrapper {
  background-color: #a93d20;
  width: 100%; }

.nav {
  *zoom: 1;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto; }
  .nav:before, .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }
  .nav ul {
    list-style: none;
    text-align: center;
    margin: 0; }
  .nav li {
    display: inline-block;
    margin: .4em;
    color: #244c59;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-size: 2em; }
  .nav a {
    color: #244c59;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: block; }
    .nav a:hover {
      color: #2495ba; }

.title {
  color: white;
  line-height: 1em;
  text-align: center;
  font-size: 0%; }

.circle {
  background-color: #a93d20;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  padding-top: 3em;
  z-index: 1;
  width: 200px;
  height: 200px;
  opacity: 0;
  -webkit-transform: scale(3, 3);
  -moz-transform: scale(3, 3);
  -ms-transform: scale(3, 3);
  -o-transform: scale(3, 3);
  transform: scale(3, 3); }

.divider {
  opacity: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  width: 40%;
  top: 10em;
  position: relative;
  z-index: 0; }

.live .circle {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.2s ease-out 0.6s;
  -moz-transition: all 0.2s ease-out 0.6s;
  transition: all 0.2s ease-out 0.6s; }
.live .title {
  font-size: 100%;
  -webkit-transition: all 0.3s ease-in-out 0.8s;
  -moz-transition: all 0.3s ease-in-out 0.8s;
  transition: all 0.3s ease-in-out 0.8s; }
.live .divider {
  height: 2px;
  background-color: #244c59;
  opacity: 1;
  left: 30%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  -moz-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s; }

#code {
  left: 20%;
  margin-top: 5em;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg); }

#designer {
  left: 60%;
  margin-top: 5em;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg); }

#name {
  display: inline-block;
  overflow: hidden;
  position: relative;
  left: 37%;
  top: 8.5em;
  height: 1.4em;
  width: 300px; }
  #name .first,
  #name .last {
    margin: 0;
    font-size: 150%;
    line-height: 1em;
    display: inline-block;
    position: absolute;
    top: 2em; }
  #name .last {
    left: 5em; }

.live #name .first {
  top: 0em;
  -webkit-transition: all 0.2s ease-out 0.3s;
  -moz-transition: all 0.2s ease-out 0.3s;
  transition: all 0.2s ease-out 0.3s; }
.live #name .last {
  top: 0em;
  left: 5em;
  -webkit-transition: all 0.2s ease-out 0.4s;
  -moz-transition: all 0.2s ease-out 0.4s;
  transition: all 0.2s ease-out 0.4s; }

#bars2 {
  display: inline-block;
  background-color: #2495ba;
  height: 3rem;
  width: 1%;
  position: absolute;
  bottom: 0em; }
  #bars2:before {
    content: "";
    display: inline-block;
    background-color: #1c738f;
    height: 3rem;
    top: 0;
    position: relative;
    margin-top: 0rem;
    width: 100%; }
  #bars2:after {
    content: "";
    display: inline-block;
    background-color: #135165;
    height: 3rem;
    margin-top: -.6rem;
    position: relative;
    width: 100%; }

.live #bars2 {
  display: inline-block;
  background-color: #2495ba;
  height: 3rem;
  width: 55%;
  margin: 0 auto;
  position: absolute;
  bottom: 5em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .live #bars2:before {
    content: "";
    display: inline-block;
    background-color: #1c738f;
    height: 3rem;
    top: 0;
    float: right;
    right: -4%;
    position: relative;
    margin-top: 3rem;
    width: 108%;
    -webkit-transition: all 0.2s ease-out 0.1s;
    -moz-transition: all 0.2s ease-out 0.1s;
    transition: all 0.2s ease-out 0.1s; }
  .live #bars2:after {
    content: "";
    display: inline-block;
    background-color: #135165;
    height: 3rem;
    float: right;
    right: -8%;
    margin-top: 0rem;
    position: relative;
    width: 116%;
    -webkit-transition: all 0.2s ease-out 0.2s;
    -moz-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s ease-out 0.2s; }
