  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Let me tell you about my code</title>
  <meta name="description" content="Winston Hearn is a Front-end Engineer based in Chattanooga, TN"/>
  <meta name="author" content="Winston Hearn">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script> var loadTimeStart = new Date(); </script>
  <!-- ### Stylesheets ### -->
  <link rel="stylesheet" type="text/css" href="/css/application.css"/>

  <script type="text/javascript" src="//use.typekit.net/xik5tcg.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">
    var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

    // Configure the Keen object with your Project ID and (optional) access keys.
    Keen.configure({
        projectId: "533fb25700111c763d000005",
        writeKey: "5fbc1787bb1f0893c09eeadae205d8e53c5be58d693b8c59b0bef9ea38f443f27e437676bd3bac95bac01b23fef16ad1f865c0abf5bace0b0e71886a8f7d070e369315fbe744bb09b1f3c0a3f26d6f0a59f306fb3188378076bd8056a75a576895ff252e918b3d971c97a660c0210bd1", // required for sending events
        readKey: "c6cbbfbc514235cfcafaa1d207395c96b5c604fb68b59ba155df4f123c12d0af82ac2f15fba4479b8d19e5e54e9cac1de535f5d1e8c7a325febf04f0be10e326ae09f896857f4f7d24744d32fa2b875bde9e15df7360b592044e1c9e01c2b0aa702bdec7e4edf0c72d1a4dc9c9117849"    // required for doing analysis
    });
</script>

