<nav id="nav-wrapper">
  <h4 class="greeting">Hello <span class="tablet">GitHub</span>! I'm</h4>
  <h1 class="name">Winston Hearn,</h1>
  <h4 class="accent greeting">Internal Tools Developer.</h4>

  <a href="mailto:hello@wnstn.com" class="quasi-button" rel="email">email me</a>
  <a href="tel:6153054450" class="quasi-button mobile-only" rel="email">call me</a>
</nav>