<article class="project">
  <h1 class="project-title">centresource</h1>
  <ul class="project-technologies">
    <li>ruby on rails</li>
    <li>scss</li>
    <li>coffeescript</li>
    <li>handlebars</li>
    <li>ajax</li>
    <li>responsive</li>
  </ul>
  <p class="project-description">Centresource is the preeminent Rails agency in Nashville, Tennessee. I worked there for two years doing front-end development. We primarily used SCSS, CoffeeScript, and industry-standard practices for Rails front-end development. Toward the end of my time at Centresource, I spent a week creating an internal tool to generate email signatures. I used class-based CoffeeScript to write a decoupled tool to accept input and convert that to email-friendly html, and then I used CSS3 and SCSS mixins to polish the user-facing page. The result was a fun-to-use and pragmatic tool for internal branding.</p>
  <a class="image-wrapper" href="http://centresource.com/email-signatures" target="_blank">
    <img src="/images/centresource.jpg" />
  </a>
  <a href="http://centresource.com/email-signatures" target="_blank" class="project-link">email generator</a>
  <a href="http://centresource.com" target="_blank" class="project-link">homepage</a>
</article>
