<article class="project">
  <h1 class="project-title">centresource</h1>
  <ul class="project-technologies">
    <li>ruby on rails</li>
    <li>scss</li>
    <li>coffeescript</li>
    <li>handlebars</li>
    <li>ajax</li>
    <li>responsive</li>
  </ul>
  <p class="project-description">Centresource is the preeminent Rails agency in Nashville, TN. I worked there for 2 years, doing front-end development. We used primarily SCSS, Coffeescript, and industry-standard practices for Rails front end dev. Towards the end of my time at centresource, I spent a week creating an internal tool for generating email signatures. I used class-based coffeescript to write a decoupled tool for taking in an input, and outputting email-friendly html, and then used CSS3/SCSS mixins to polish up the user-facing page. The result was a fun-to-use and very pragmatic tool for internal branding. </p>
  <a class="image-wrapper" href="http://centresource.com/email-signatures" target="_blank">
    <img src="/images/centresource.jpg" />
  </a>
  <a href="http://centresource.com/email-signatures" target="_blank" class="project-link">email generator</a>
  <a href="http://centresource.com" target="_blank" class="project-link">homepage</a>
</article>
