<article class="project">
  <h1 class="project-title">Editorially</h1>
  <ul class="project-technologies">
    <li>javascript</li>
    <li>mocha.js</li>
    <li>chai.js</li>
    <li>sinon.js</li>
    <li>backbone.js</li>
    <li>ruby on rails</li>
  </ul>
  <p class="project-description">Editorially was an awesome online collaboration and version control system for writers, and they needed a part-time QA engineer for the Javascript side of the app. I came on board part time to fulfill this role, exploring the innards of the Javascript and writing tests to help guard against regressions.</p>
  <a class="image-wrapper" href="http://editorially.com">
    <img src="/images/editorially.jpg" />
  </a>
  <a href="http://editorially.com" class="project-link" target="_blank">homepage</a>
</article>
