<article class="project">
  <h1 class="project-title">NumberGarage</h1>
  <ul class="project-technologies">
    <li>less</li>
    <li>angular</li>
    <li>jade</li>
    <li>ux</li>
    <li>design</li>
    <li>forms</li>
  </ul>
  <p class="project-description">NumberGarage had a bit of a clunky signup form that was losing them customers. I spent some time looking at the analytics for conversion dropoffs and understanding the information required to get a new customer up and running. I then designed and built out a new flow for signups that will hopefully be more usable for customers and result in more conversions.</p>
  <a class="image-wrapper" href="http://numbergarage.com">
    <img src="/images/numbergarage.jpg" />
  </a>
  <a href="http://numbergarage.com" class="project-link" target="_blank">homepage</a>
</article>
