<article class="project">
  <h1 class="project-title">ouradventure.in</h1>
 <ul class="project-technologies">
    <li>sinatra</li>
    <li>scss</li>
    <li>coffeescript</li>
    <li>handlebars</li>
    <li>responsive</li>
  </ul>
  <p class="project-description">In April my wife and my son and I set out on an adventure. When we first left, I created a single-page site using Sinatra and Wufoo to let friends give us recommendations for places to visit along the way.</p>
  <a class="image-wrapper" href="http://ouradventure.in" target="_blank">
    <img src="/images/ouradventure.jpg" />
  </a>
  <a href="http://ouradventure.in" target="_blank" class="project-link">homepage</a>
  <a href="https://github.com/wnstn/adventure-form" target="_blank" class="project-link">github repo</a>
</article>
