<article class="project">
  <h1 class="project-title">re:action</h1>
  <ul class="project-technologies">
    <li>node</li>
    <li>scss</li>
    <li>coffeescript</li>
    <li>jade</li>
    <li>express.js</li>
    <li>responsive</li>
  </ul>
  <p class="project-description">I had about two weeks to design and code this site. Thankfully, it wasn't from scratch, as we had a Node app written for Streamweaver we duplicated for the backend. But on the frontend, the only art direction I was given was in the form of app screenshots - after that I was given free reign. In two weeks I designed and coded a marketing index page, a Video#Show template, and the password reset pages.</p>
  <a class="image-wrapper" href="http://reaction.streamweaver.com">
    <img src="/images/reaction-app.jpg" />
  </a>
  <a href="http://reaction.streamweaver.com" class="project-link" target="_blank">homepage</a>
  <a href="http://reaction.streamweaver.com/v/32ea7aa5-783d-4aa6-a130-a231001d8542" class="project-link" target="_blank">video watch page</a>
  <a href="http://reaction.streamweaver.com/Account/Password/resetrequest" class="project-link" target="_blank">password reset page</a>
</article>
