<article class="project">
  <h1 class="project-title">SplitSecnd</h1>
  <ul class="project-technologies">
    <li>sass</li>
    <li>javascript</li>
    <li>handlebars</li>
    <li>jquery</li>
    <li>promises</li>
    <li>geoencoding</li>
    <li>ajax</li>
    <li>data visualization</li>
    <li>expressionengine</li>
  </ul>
  <p class="project-description">SplitSecnd is a hardware company selling a safety device for cars that allows you to keep track of the mileage and location of the vehicles you own. They had a rudimentary Member Admin system that was functional but not pleasant to look at or very user friendly. I was contracted to build out v2.0 of the admin, based on their designers plans. The new design made it easy for users to view recent data from their devices from one screen. Everything was built on custom javascript using handlebars.js for templating and the Google Maps API for geolocation data. A second view allowed users to look at mileage data and involved data presented with flot.js.</p>
  <a class="image-wrapper" href="http://splitsecnd.com">
    <img src="/images/splitsecnd.jpg" />
  </a>
  <a href="http://splitsecnd.com" class="project-link" target="_blank">homepage</a>
</article>
