<article class="project">
  <h1 class="project-title">streamweaver</h1>
  <ul class="project-technologies">
    <li>html5</li>
    <li>scss</li>
    <li>coffeescript</li>
    <li>handlebars</li>
    <li>ajax</li>
  </ul>
  <p class="project-description">Streamweaver is an iOS app that weaves together video from multiple iOS devices. After they launched, they realized they needed a way for users to share and watch videos via the web. I joined the team part-time to develop a website for that very purpose. The requirements were to move fast, I wrote a custom, client-side app that could be included once and used across all views. <a href="http://watch.streamweaver.com" target="_blank">Watch.streamweaver.com</a> isn't ideal, but it hit all the deadlines within the scope I was given. Right now, we're days away from a complete rewrite as a Node.js app.</p>
  <a class="image-wrapper" href="http://watch.streamweaver.com/show.html?video=16e92792-a158-4b56-80bb-a2350137c45e" target="_blank">
    <img src="/images/streamweaver.jpg" />
  </a>
  <a href="http://watch.streamweaver.com" target="_blank" class="project-link">homepage</a>
</article>
